<!doctype html>
<html lang="en" ng-app="ui.bootstrap.demo">
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="example.js"></script>
    <link href="app/bower_components/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="DropdownCtrl">


<h4>Choose TeamCity Server</h4>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="TCEnv" btn-radio="'Production'">Production</label>
        <label class="btn btn-primary" ng-model="TCEnv" btn-radio="'Sandbox'">Sandbox</label>
    </div>

<h4>Current host: {{ TCEnv }}</h4>

</div>
  </body>
<!-- Based on 
http://plnkr.co/edit/nF3yhnY9wQZcNHUkkhLa
-->
</html>
