<!DOCTYPE html>
<html>

  <head>
    <title>TeamCity API</title>
<!--
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap-theme.css">
-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/bower_components/ui.bootstrap/dist/css/ui-bootstrap-0.13.0-csp.css">
    <link rel="stylesheet" href="app/css/app.css">
    <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
  </head>

  <body ng-app="myApp">

    <div class="container" ng-controller="TCCtrl">

    <center>
 <!-- Single button -->
    <div>
        <h4>Choose TeamCity Server</h4>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="TCEnv" btn-radio="'Production'">Production</label>
                <label class="btn btn-primary" ng-model="TCEnv" btn-radio="'Sandbox'">Sandbox</label>
            </div>
        <h4>Current host: {{ TCEnv }}</h4>
    </div>
   </center>
<p>
</p>
    <div class="col-md-4" ng-controller="ProjectCtrl">
       <table class="table-responsive">
               <thead>
                   <tr>
                   <th>Project Id</th>
                   <th>Parent Project Id</th>
                   <th>Name</th>
                   <th>Description</th>
                   <th>Url</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="p in projects">
                       <td><a ng-href="#/projects/:{{p.id}}"> {{p.id}}</a></td>
                       <td>{{p.parentProjectId}}</td>
                       <td>{{p.name}}</td>
                       <td class="">{{p.description}}</td>
                       <td ><a ng-href="{{p.webUrl}}">{{p.href}}</a></td>
                   </tr>
               </tbody>
          </table>
    </div>
<!--
	  {{ projects | json }}
-->	  
	</div> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
     <script src="app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
-->
     <script src="app/bower_components/jquery/dist/jquery.js"></script>
     <script src="app/bower_components/angular/angular.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     <script src="app/bower_components/ui.bootstrap/dist/js/ui-bootstrap-0.13.0.min.js"></script>
     <script src="app/bower_components/ui.bootstrap/dist/js/ui-bootstrap-tpls-0.13.0.min.js"></script> 

     <script src="app/bower_components/angular-animate/angular-animate.js"></script>
     <script src="app/bower_components/angular-route/angular-route.js"></script>
     <script src="app/bower_components/angular-resource/angular-resource.js"></script>
     <script src="script.js"></script>
  </body>

</html>